<div class="bottlesList-head">
    <input type="search" class="bottlesList-search" [placeholder]="'cellar.bottle.list.search' | translate"
           [(ngModel)]="query"/>

    <a class="button _round" [routerLink]="['/cellar/bottle/new']">
        {{ 'cellar.bottle.list.create' | translate }}
    </a>
</div>

<div class="bottlesList-list">
    <bottle-tile *ngFor="let bottle of (bottles | filterByEstate:query)"
                 [bottle]="bottle"
                 (selected)="edit($event)"></bottle-tile>
</div>
