<a [routerLink]="['/']" class="appHeader-logo">
    <img src="assets/images/winecellar-logo.svg" alt="Winecellar.io" width="180px">
</a>

<div class="appHeader-user" *ngIf="currentUserIdentity">
    <i class="appHeaderUser-icon las la-user-circle"></i>
    <span class="appHeaderUser-name">
        {{ currentUserIdentity | userIdentity }}
    </span>
</div>

<div class="appHeader-options">
    <button type="button" class="button _round" (click)="logout()" *ngIf="currentUserIdentity">
        Déconnexion
    </button>
</div>
