<form #form="ngForm" *ngIf="bottle">
    <label for="estate">{{ 'bottle.estate' | translate }}</label>
    <input id="estate" name="estate" type="text" [(ngModel)]="bottle.estate" required/>

    <hr>

    <label for="vintage">{{ 'bottle.vintage' | translate }}</label>
    <input id="vintage" name="vintage" type="number" [(ngModel)]="bottle.vintage" min="1800" [max]="vintageMaxYear" required/>

    <hr>

    <label for="color">{{ 'bottle.color' | translate }}</label>
    <select id="color" name="color" [(ngModel)]="bottle.color" required>
        <option *ngFor="let color of Color | keyvalue" [value]="color.key">
            {{ 'bottle.color.' + color.key | translate }}
        </option>
    </select>

    <hr>

    <label for="stickerUrl">{{ 'bottle.stickerUrl' | translate }}</label>
    <input id="stickerUrl" name="stickerUrl" type="url" [(ngModel)]="bottle.stickerUrl"/>

    <hr>

    <button type="submit" [disabled]="form.invalid" (click)="saveBottle()">
        {{ 'cellar.bottle.edit.submit' | translate }}
    </button>
</form>
