<form *ngIf="bottle" (ngSubmit)="saveBottle()">
    <label for="estate">{{ 'bottle.estate' | translate }}</label>
    <input id="estate" name="estate" type="text" [(ngModel)]="bottle.estate"/>

    <label for="vintage">{{ 'bottle.vintage' | translate }}</label>
    <input id="vintage" name="vintage" type="number" [(ngModel)]="bottle.vintage"/>

    <label for="color">{{ 'bottle.color' | translate }}</label>
    <select id="color" name="color" [(ngModel)]="bottle.color">
        <option *ngFor="let color of Color | keyvalue" [value]="color.key">
            {{ 'bottle.color.' + color.key | translate }}
        </option>
    </select>

    <label for="stickerUrl">{{ 'bottle.stickerUrl' | translate }}</label>
    <input id="stickerUrl" name="stickerUrl" type="url" [(ngModel)]="bottle.stickerUrl"/>

    <div class="formButton">
        <button class="button _round" type="button" (click)="cancel()">
            {{ 'cellar.bottle.edit.cancel' | translate }}
        </button>
        <button class="button _round" type="submit">
            {{ 'cellar.bottle.edit.submit' | translate }}
        </button>
    </div>
</form>
