<form class="login-form">
    <label for="login">Login</label>
    <input id="login" name="login" type="text" autocomplete="username" [(ngModel)]="login" />

    <label for="password">Mot de passe</label>
    <input id="password" name="password" type="password" autocomplete="current-password" [(ngModel)]="password" />

    <button class="button _round" type="submit"
            (click)="authenticate()">
        Valider
    </button>

    <div [hidden]="!authStatus" [class]="authStatus">
        {{ authStatus }}
    </div>
</form>
