<h1>Objectif n°2</h1>

<ul>
    @for (figure of figures; track $index) {
        <li>
            {{figure}}
        </li>
    }
</ul>

<h1>Objectif n°3</h1>

<ul>
    @for (oddNumber of oddNumbers; track $index) {
        <li>
            {{oddNumber}}
        </li>
    }
</ul>

<h1>Objectif n°4</h1>

@if (elapsedSeconds) {
    <p>{{ elapsedSeconds }} seconde(s) écoulée(s)</p>
} @else {
    <p>Le chronomètre n'a pas été (encore) démarré...</p>
}

<h1>Objectif n°5</h1>

<ul>
    @for (bottle of bottles; track $index) {
        <li>
            {{bottle}}
        </li>
    }
</ul>
